* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(company_background.jpg);
    background-position: center center;
    background-size: cover;
    background-size: max(2000px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    margin: 0px 100px;
    justify-content: space-between;
}

.navigate {
    width: 50vw;
    justify-content: space-around;
    display: flex;
}

.navigate a {
    font-size: 20px;
    color: rgb(249, 249, 249);
    text-decoration: none;
    transition: 0.4s ease-in-out;
    font-weight: bold;
    font-family: Arial;
}

.navigate a:hover {
    color: orange;
}

.content {
    margin-top: 100px;
    text-align: center;
    color: white;
}

.but1 {
    height: 35px;
    width: 120px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
    border-radius: 18px;
}

.but2 {
    background-color: rgb(255, 119, 0);
    border: none;
}

.Box_content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.box {
    height: 250px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.571);
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    margin: 10px;
    border-radius: 30px;
    position: relative;
}

.box img {
    border-radius: 20px 20px 20px 20px;
    padding: 40px 0 0 30px;

}

.box p {
    padding: 20px 0 0 10px;
}

.box h6 {
    padding: 10px 0 0 10px;
}

.box:hover {

    z-index: 1;
    transition: 0.7s ease-in-out;
    transform: scale(1.1) rotate(0deg) translate(1px);
}

.development {
    text-align: center;
    margin-top: 40px;
}

.main_dev {
    display: flex;
    align-items: center;
    justify-content: center;


}

.dev1 {
    height: 598px;
    width: 439px;
    border: 2px solid;
    text-transform: uppercase;
    margin: 20px 20px 0px 20px;
    border: 2px solid rgba(0, 0, 0, .125);

}

.dev1 p {
    padding-top: 20px;
    height: 40px;
    background-color: rgba(220, 219, 219, 0.429);
    border-radius: 0px 0px 4px 4px;
    font-size: large;
    font-weight: 600;

}

.devfoot {
    padding: 20px 2px 2px 2px;
    border: 1px solid rgba(0, 0, 0, .125);
    line-height: 28px;
    word-spacing: 1.5px;
    border-bottom: none;
    background-color: rgba(220, 219, 219, 0.23);
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.section-header {
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-family: Arial;
    font-size: 25px;
}

.item {
    height: 40px;
    width: 50%;
    text-align: left;
    padding: 5px 0px 0px 12px;
    border: 1px solid rgba(0, 0, 0, .125);
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
}

.item:hover {
    background-color: rgba(220, 219, 219, 0.23);
}

footer {
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}

.footer_header {
    margin-top: 20px;
}

footer ul {
    margin-top: 10px;
}

.footlast {
    margin-bottom: 15px;

}

@media screen and (max-width: 1400px) and (min-width: 250px) {

    .Box_content {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 20px;
        padding-top: 450px;
    }

    .development {
        margin-top: 900px;
    }

    .main_dev {
        display: flex;
        flex-direction: column;
        position: relative;

    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .item {
        height: 70px;
        word-spacing: 2px;
        line-height: 20px;

    }

}

@media screen and (max-width: 970px) {

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;

    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer_header ul {
        margin-bottom: 10px;
    }

}